In [5]:
# Python Programming

In [6]:
print("python")

python

In [7]:
name = "Python"
print(name)

Python

In [8]:
a = 100
b = 200
name = "Programming"

In [10]:
type(name)

str

In [11]:
print(a)

100

In [12]:
type(a)

int

In [13]:
type(100.45)

float

In [16]:
Address = "Hyd"
print(Address)

Hyd

In [17]:
# print() --> print is used to display the given value or variable.
# type()  --> type is used to check the data type of the varaible or value.

In [1]:
#input() --> input function is used to take the input from the end user

name = 'Python' # varible is used to store the data
print(name)

Python

In [2]:
name1 = input()

 Programming

In [3]:
print(name1)

Programming

In [4]:
name2 = input("Enter your name:")

Enter your name: Python Programming

In [5]:
print(name2)

Python Programming

In [9]:
print(name, ":",name1, ":", name2)

Python : Programming : Python Programming

In [10]:
print(name+ ":"+name1, ":"+name2)

Python:Programming :Python Programming

In [11]:
#datatypes

# Integer --> 1, 2, 100, 76666, 9899
# float   --> 1.10, 2.98, 1000.56
# string  --> 'abc', 'python123', "Hello", 'Xyz@12'
# complex --> i+2j, 9+10j
# boolean --> True, False

In [14]:
a = 100.55 # dynamic programming language

In [15]:
a

100.55

In [17]:
print(type(a))

<class 'float'>

In [19]:
b = 99
print(type(b))

<class 'int'>

In [20]:
c = "Hyd"
print(type(c))

<class 'str'>

In [21]:
d = True
print(type(d))

<class 'bool'>

In [23]:
e = False

In [37]:
f = int(input("Enter f value:"))
g = float(input("Enter g value:"))      # input function will take the input value as string defaultly

print(f, type(f))
print(g, type(g))

Enter f value: 199
Enter g value: 299

199 <class 'int'>
299.0 <class 'float'>

In [30]:
float(199)

199.0

In [34]:
# Type conversion (or) Type casting --> The process of converting one datatype to another.

In [48]:
h = int(input("Enter f value:"))
i = float(input("Enter g value:"))
print(h, i)

Enter f value: 123
Enter g value: 1234

123 1234.0

In [43]:
int(100.23)

100

In [51]:
float("100")

100.0

In [52]:
type(1000)

int

In [54]:
type(str(1000))

str

In [59]:
ab = True

In [60]:
ab

True

In [63]:
bc = False

In [64]:
bc

False

In [69]:
cd = a
print(cd)

100.55

In [71]:
name_1 = "Dhanush"

Dhanush

In [89]:
# # Naming conventions of variables
# 1. Variable name needs to start with alphabet or _
# 2. Varibale name does not contain special symbol except _
# 3. Variable name cannot start with a number
# 4. Varibale name can be a combination alphanumrics and _
# 5. Variable name cannot contain whitespaces

In [79]:
address_city = "Raidurg&Hyderabad"

In [80]:
address_city

'Raidurg&Hyderabad'

In [84]:
'Hyderabad is "capital" of telangana'

'Hyderabad is "capital" of telangana'

In [86]:
_____pincode = 500081

In [87]:
pincode___ = 500081

In [88]:
pin code = 500081

SyntaxError: invalid syntax (493504647.py, line 1)

In [90]:
pin-code = 500081

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3124576353.py, line 1)

In [92]:
first_name = "Dhanush"

In [93]:
address_city = "HYD-IND"

In [94]:
road_1 = 'Madhapur'

In [95]:
road_2 = 'Cyber city'

In [96]:
12/5

2.4

In [97]:
/ = 100

SyntaxError: invalid syntax (430021990.py, line 1)