# Strings
* String can be defined as a combination of alphabetics, numbers and symbols
* Strings supports both slicing and indexing
* Strings have both the positive and negative indexing
* Positive indexing starts from 0
* Negative indexing starts from -1
* string[0] --> which gives us the 1st positional charecter of a string


            0     1    2    3     4     5   ---->  +ve indexng
  a ---->   P     Y    T    H     O     N
           -6    -5   -4   -3    -2    -1   ---->  -ve indexing

In [1]:
a = "PYTHON"
a[0]

'P'

In [2]:
a[1]

'Y'

In [3]:
a[-1]

'N'

In [4]:
a[5]

'N'

In [17]:
b = "Hyderabad is capital of Telangana"

In [18]:
b[-1]

'a'

In [20]:
b[10:15]   # fetch only data in between the 10 and 15

'is ca'