# Functions
* Function can be represented as a block of code
* function can be implemented with the help of def keyword
* Functions can be mainly two types
  1. Pre-built functions         --> for ex.., len(), range(), list()
  2. User-defined functions      --> These functions created on our own
* One of the main advantages of functions are code reusability, code complexity.
* Don't use inbuilt function name, and keywords as our function names.
* Types of functions:
  1. function without parameters and without return value
  2. function with parameters and without return value
  3. function without parameters and with return value
  4. function with parameters and with return value

In [1]:
a = 100
b = 200
print(a+b)

300

### Function with out parameters

In [29]:
def addition():       
    a = 100
    b = 200
    print(a+b)

In [3]:
addition()

300

In [6]:
def addition():
    a = int(input("Enter a value: "))
    b = int(input("Enter b value: "))
    print(a+b)

In [7]:
addition()

Enter a value:  299
Enter b value:  677

976

In [9]:
def addition(a, b):           # ---- Here a and b works as arguments
    print("addition is :", a+b)

### Functions with parameters

In [10]:
addition()

TypeError: addition() missing 2 required positional arguments: 'a' and 'b'

In [11]:
addition(123, 456)

addition is : 579

In [13]:
addition(b = 20, a = 400)

addition is : 420

In [20]:
def arith(a = 100, b = 200):        # # ---- Here a and be works as keyword arguments
    print("addition is :", a+b)
    print("subtracting b from a :", b-a)
arith(799, 566)

addition is : 1365
subtracting b from a : -233

In [32]:
def login(username, password):
    print("You've entered username :", username)
    print("You've entered password :", password)
    if username == 'Dhanush123' and password == 'Dh@nu&2022':
        print("User logged in")
        print("Welcome,", username)
    else:
        print("Invalid Credentials")

In [33]:
login(username = 'Dhanush123', password = 'Dh@nu&2022')

You've entered username : Dhanush123
You've entered password : Dh@nu&2022
User logged in
Welcome, Dhanush123

In [34]:
login("ahsjfjds", 'asyeuruau')

You've entered username : ahsjfjds
You've entered password : asyeuruau
Invalid Credentials

### function with and without return

In [35]:
def login(username, password):
    print("You've entered username :", username)
    print("You've entered password :", password)
    if username == 'Dhanush123' and password == 'Dh@nu&2022':
        print("User logged in")
        print("Welcome,", username)
    else:
        print("Invalid Credentials")

In [38]:
result = login("Dhanush123", "Dh@nu&2022")

You've entered username : Dhanush123
You've entered password : Dh@nu&2022
User logged in
Welcome, Dhanush123

In [40]:
result   # here result function is not getting any result due to we are not used return

In [44]:
def login(username, password):
    print("You've entered username :", username)
    print("You've entered password :", password)
    if username == 'Dhanush123' and password == 'Dh@nu&2022':
        user = "Dhanush"
        print("User logged in")
        print("Welcome,", username)
    else:
        user = None
        print("Invalid Credentials") 
    return user

In [50]:
result = login("Dhanush123", "Dh@nu&2022")

You've entered username : Dhanush123
You've entered password : Dh@nu&2022
User logged in
Welcome, Dhanush123

In [51]:
result

'Dhanush'

In [52]:
result = login("ush123", "Dh@nu&2022")

You've entered username : ush123
You've entered password : Dh@nu&2022
Invalid Credentials

In [53]:
result

In [54]:
def addition(a, b):
    return a+b

In [56]:
add = addition(10, 20)

In [57]:
add

30

In [59]:
def addition(a, b):
    print(a+b)

In [60]:
addition(10, 20)

30

In [61]:
add_1 = addition(10, 20)

30

In [62]:
add_1

In [74]:
def login(username, password):
    # print("You've entered username :", username)
    # print("You've entered password :", password)
    if username == 'Dhanush123' and password == 'Dh@nu&2022':
        user = "Dhanush"
        # print("User logged in")
        # print("Welcome,", user)
    elif username == 'Niharika123' and password == 'Nih@rik@2022':
        user = "Niharika"
        # print("User logged in")
        # print("Welcome,", user)
    else:
        user = None
        # print("Invalid Credentials") 
    return user

In [75]:
### liking a post
user = login("Niharika123", "Nih@rik@2022")
if user is not None:
    print(user, "Liked the post")
else:
    print("Please login, if you want't to like this post")

Niharika Liked the post

In [76]:
user = login("Dhanush123", "Dh@nu&2022")
if user is not None:
    print(user, "Liked the post")
else:
    print("Please login, if you want't to like this post")

Dhanush Liked the post

In [77]:
user = login("sdhfasjkdf", "Dh@nu&2022")
if user is not None:
    print(user, "Liked the post")
else:
    print("Please login, if you want't to like this post")

Please login, if you want't to like this post

In [18]:
def electricity_generator(usage, units):    
    if usage == "domestic":
        if (units >= 0) and (units <= 50):
            bill = 0
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 50) and (units <= 100):
            bill = units * 5
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 100) and (units <= 200):
            bill = units * 10
            print("Bill generated with ", usage ,"amount :", bill)
        
        
        elif (units > 200) and (units <= 500):
            bill = units * 15
            print("Bill generated with ", usage ,"amount :", bill)
        
        else:
            bill = units * 25
            print("Bill generated with ", usage ,"amount :", bill)
    elif usage == "commercial":
        if (units >= 0) and (units <= 200):
            charge_per_unit = 25
            bill = units * charge_per_unit
            print("units: ", units)
            print("Usage: ", usage)
            print(units, "*", charge_per_unit)
            print("Amount", bill)
        elif (units >= 201) and (units <= 500):
            bill = units * 30
            print("Bill generated with", usage, "amount:", bill)
        else:
            bill = units * 40
            print("Bill generated with", usage, "amount:", bill)
    return bill

In [14]:
bill_generated = electricity_generator("domestic", 1499)

Bill generated with  domestic amount : 37475

In [15]:
bill_generated

37475

In [19]:
bill_generated = electricity_generator("commercial", 1499)

Bill generated with commercial amount: 59960

In [20]:
bill_generated

59960

In [28]:
def electricity_generator(usage, units):    
    if usage == "domestic":
        if (units >= 0) and (units <= 50):
            bill = 0
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 50) and (units <= 100):
            bill = units * 5
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 100) and (units <= 200):
            bill = units * 10
            print("Bill generated with ", usage ,"amount :", bill)
        
        
        elif (units > 200) and (units <= 500):
            bill = units * 15
            print("Bill generated with ", usage ,"amount :", bill)
        
        else:
            bill = units * 25
            print("Bill generated with ", usage ,"amount :", bill)
        return bill
    elif usage == "commercial":
        if (units >= 0) and (units <= 200):
            charge_per_unit = 25
            bill = units * charge_per_unit
            print("units: ", units)
            print("Usage: ", usage)
            print(units, "*", charge_per_unit)
            print("Amount", bill)
        elif (units >= 201) and (units <= 500):
            bill = units * 30
            print("Bill generated with", usage, "amount:", bill)
        else:
            bill = units * 40
            print("Bill generated with", usage, "amount:", bill)

In [29]:
bill_generated = electricity_generator("commercial", 1499)

Bill generated with commercial amount: 59960

In [30]:
bill_generated

In [31]:
bill_generated = electricity_generator("domestic", 1499)

Bill generated with  domestic amount : 37475

In [32]:
bill_generated

37475

In [42]:
def electricity_generator(usage, units):    
    if usage == "domestic":
        if (units >= 0) and (units <= 50):
            bill = 0
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 50) and (units <= 100):
            bill = units * 5
            print("Bill generated with ", usage ,"amount :", bill)
        elif (units > 100) and (units <= 200):
            bill = units * 10
            print("Bill generated with ", usage ,"amount :", bill)
        
        
        elif (units > 200) and (units <= 500):
            bill = units * 15
            print("Bill generated with ", usage ,"amount :", bill)
        
        else:
            bill = units * 25
            print("Bill generated with ", usage ,"amount :", bill)
        return bill
    elif usage == "commercial":
        if (units >= 0) and (units <= 200):
            charge_per_unit = 25
            bill = units * charge_per_unit
            print("units: ", units)
            print("Usage: ", usage)
            print(units, "*", charge_per_unit)
            print("Amount", bill)
        elif (units >= 201) and (units <= 500):
            bill = units * 30
            print("Bill generated with", usage, "amount:", bill)
        else:
            bill = units * 40
            print("Bill generated with", usage, "amount:", bill)
        return bill
    elif usage == "logistics":   
        return "Contact TRANSCO Admin "

In [37]:
electricity_generator("logistics", 9999)

'Contact TRANSCO Admin '

In [35]:
logistics_bill = electricity_generator("logistics", 9999)

In [36]:
logistics_bill

'Contact TRANSCO Admin '

In [38]:
logistics_bill = electricity_generator("logistics", 9999)

In [41]:
logistics_bill

'Contact TRANSCO Admin '

In [54]:
def electricity_generator(usage, units):    
    if usage == "domestic":
        if (units >= 0) and (units <= 50):
            bill = 0
        elif (units > 50) and (units <= 100):
            bill = units * 5
        elif (units > 100) and (units <= 200):
            bill = units * 10        
        elif (units > 200) and (units <= 500):
            bill = units * 15        
        else:
            bill = units * 25
        return bill
    elif usage == "commercial":
        if (units >= 0) and (units <= 200):
            charge_per_unit = 25
            bill = units * charge_per_unit
            # print("units: ", units)
            # print("Usage: ", usage)
            # print(units, "*", charge_per_unit)
            # print("Amount", bill)
        elif (units >= 201) and (units <= 500):
            bill = units * 30
            # print("Bill generated with", usage, "amount:", bill)
        else:
            bill = units * 40
            # print("Bill generated with", usage, "amount:", bill)
        return bill
    elif usage == "logistics":   
        return "Contact TRANSCO Admin "

In [55]:
elec_accounts = [
                {"name": "Dhanush", "account_no":1231234, "units":123, "usage_type" : "domestic"}, 
                {"name": "Niharika", "account_no":1231235, "units":243, "usage_type" : "domestic"}, 
                {"name" : "Harika","account_no":1231236, "units":563, "usage_type" : "domestic"},
                {"name" : "Anusha","account_no":1231237, "units":1767, "usage_type" : "commercial"},
                {"name" : "Hema","account_no":1231238, "units":156, "usage_type" : "domestic"},
                {"name" : "Ramana","account_no":1231239, "units":897, "usage_type" : "logistics"},
                ]

In [59]:
for account in elec_accounts:
    name = account['name']
    account_number = account['account_no']
    units = account['units']
    usage = account['usage_type']
    electric_bill = electricity_generator(usage, units)
    if usage == 'logistics':
        print(electric_bill)
    else:
        print("Bill generated for account no :", account_number, "is", electric_bill, "for", units, "units")

Bill generated for account no : 1231234 is 1230 for 123 units
Bill generated for account no : 1231235 is 3645 for 243 units
Bill generated for account no : 1231236 is 14075 for 563 units
Bill generated for account no : 1231237 is 70680 for 1767 units
Bill generated for account no : 1231238 is 1560 for 156 units
Contact TRANSCO Admin

In [86]:
def generate_invoice(name, order_id, price, order_items, address):
    print('--------------------------------------')
    print('           **INVOICE**                ')
    print("--------------------------------------")
    print("Name :", name)
    print("Order ID:", order_id)
    print("Total Price:", price)
    print("Order Items:")
    for item in order_items:
        print("\t", item)
    print("Address:", address)    
    print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n")

In [78]:
orders = [
        {"name": "Dhanush", "order_id":1231234, "price":123, "order_items" : ["Jeans Pant, Checks Shirt"], "address": "Madhapur, HYD"}, 
        {"name": "Niharika", "order_id":1231235, "price":243, "order_items" : ["Check Shirt, Tshirt"], "address": "Hayath Nagar, HYD"}, 
        {"name" : "Harika","order_id":1231236, "price":563, "order_items" : ["Tshirt"], "address": "Hayath Nagar, HYD"},
        {"name" : "Anusha","order_id":1231237, "price":1767, "order_items" : ["Samsung TV", "Soundbar"], "address": "Madhapur, HYD"},
        {"name" : "Hema","order_id":1231238, "price":156, "order_items" : ["Iphone 14(black)", "Charger"], "address": "Gachibowli, HYD"},
        {"name" : "Ramana","order_id":1231239, "price":897, "order_items" : ["Sony Soundbar", "Car Toy", "Cricket bat"], "address": "KPHB Colony, HYD"},
        ]

In [79]:
orders[0]

{'name': 'Dhanush',
 'order_id': 1231234,
 'price': 123,
 'order_items': ['Jeans Pant, Checks Shirt'],
 'address': 'Madhapur, HYD'}

In [89]:
orders = [
        {"name": "Dhanush", "order_id":1231234, "price":123, "order_items" : ["Jeans Pant, Checks Shirt"], "address": "Madhapur, HYD"}, 
        {"name": "Niharika", "order_id":1231235, "price":243, "order_items" : ["Check Shirt, Tshirt"], "address": "Hayath Nagar, HYD"}, 
        {"name" : "Harika","order_id":1231236, "price":563, "order_items" : ["Tshirt"], "address": "Hayath Nagar, HYD"},
        {"name" : "Anusha","order_id":1231237, "price":1767, "order_items" : ["Samsung TV", "Soundbar"], "address": "Madhapur, HYD"},
        {"name" : "Hema","order_id":1231238, "price":156, "order_items" : ["Iphone 14(black)", "Charger"], "address": "Gachibowli, HYD"},
        {"name" : "Ramana","order_id":1231239, "price":897, "order_items" : ["Sony Soundbar", "Car Toy", "Cricket bat"], "address": "KPHB Colony, HYD"},
        ]
def generate_invoice(name, order_id, price, order_items, address):
    print('--------------------------------------')
    print('           **INVOICE**                ')
    print("--------------------------------------")
    print("Name :", name)
    print("Order ID:", order_id)
    print("Total Price:", price)
    print("Order Items:")
    for item in order_items:
        print("\t", item)
    print("Address:", address)    
    print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n")
    
for order in orders:
    generate_invoice(order['name'], 
                 order['order_id'], 
                 order['price'], 
                 order['order_items'], 
                 order['address'])

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Dhanush
Order ID: 1231234
Total Price: 123
Order Items:
	 Jeans Pant, Checks Shirt
Address: Madhapur, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Niharika
Order ID: 1231235
Total Price: 243
Order Items:
	 Check Shirt, Tshirt
Address: Hayath Nagar, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Harika
Order ID: 1231236
Total Price: 563
Order Items:
	 Tshirt
Address: Hayath Nagar, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Anusha
Order ID: 1231237
Total Price: 1767
Order Items:
	 Samsung TV
	 Soundbar
Address: Madhapur, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Hema
Order ID: 1231238
Total Price: 156
Order Items:
	 Iphone 14(black)
	 Charger
Address: Gachibowli, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

--------------------------------------
           **INVOICE**
--------------------------------------
Name : Ramana
Order ID: 1231239
Total Price: 897
Order Items:
	 Sony Soundbar
	 Car Toy
	 Cricket bat
Address: KPHB Colony, HYD
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Lambda Functions
* A lambda function is a anonymous function, which can take multple parameters along with single expression.
* Lambda function is implemented using lambda keyword.

In [105]:
fun_1 = lambda a:print(a)

In [106]:
fun_1(10)

10

In [107]:
fun_1("Hello")

Hello

In [108]:
fun_2 = lambda a:print("Welcome", a)

In [109]:
fun_2("Dhanush")

Welcome Dhanush

In [111]:
niharika = fun_2("Niharika")

Welcome Niharika

In [112]:
niharika

In [113]:
fun_add = lambda a, b, c: a+b+c

In [115]:
result = fun_add(1,2,4)

In [116]:
result

7

In [117]:
fun_power = lambda main_value, power_value: main_value**power_value

In [118]:
fun_power(2, 3)

8

In [119]:
fun_power(3, 4)

81

### Global variables VS Local Variables
#### Local Variables
* A variable within the function can be defined as a Local Variable
* The Scope of the local variable is within the function, so we can use the local variable within the function only.
* we can't use local variables outside the function.

#### Global Variables
* A variable defined outside of any function can be referred as a Global variable.
* The Scope of the global variable is in throughout the function, so we can use the global variable wherever we want.
* we can use global variable inside or outside of any function.

In [1]:
a = 100      # here a and b are global variables
b = 200

def addition():
    c = 300     # here c is local variable
    print(a+b+c)

In [2]:
addition()

600

In [3]:
a

100

In [4]:
b

200

In [5]:
c

NameError: name 'c' is not defined

## Global Keyword
* global keyword is used to make the local variable into a global variable, so that we can access the specified keyword throughout the program.

In [17]:
a = 100      # here a and b are global variables
b = 200

def addition():
    global c   # here we are making c as a global keyword
    c = 300     # here c is local variable
    print(a+b+c)

In [18]:
addition()

600

In [19]:
a, b

(100, 200)

In [20]:
c

300

In [39]:
def collec(*a):      #     *a  will take the multiple argument while function calling
    for i in a:
        print(i)
        
collec(10, 20, 30, 40, 50, 60, 70)

10
20
30
40
50
60
70

In [40]:
collec("Hello", "Hi", "How are ypu?")

Hello
Hi
How are ypu?

In [35]:
def collec2(**b):         #  **b  will take multiple keywrod arguments
    for key, value in b.items():
        print(key, value)
collec2(name = "Dhanush", City = "Hyd")

name Dhanush
City Hyd

In [42]:
li1

[10, 20, 30, 40]

In [24]:
sum = 0
for i in li1:
    print("inital sum: ",sum, "   current item", i )
    sum = sum + i
    print("After adding", i, "   The result sum is :", sum, '\n')

inital sum:  0    current item 10
After adding 10    The result sum is : 10

inital sum:  10    current item 20
After adding 20    The result sum is : 30

inital sum:  30    current item 30
After adding 30    The result sum is : 60

inital sum:  60    current item 40
After adding 40    The result sum is : 100

In [41]:
mul = 1
for i in li1:
    print("inital mul: ",mul, "   current item", i )
    mul = mul * i
    print("After multiplication", i, "   The result is :", mul, '\n')

inital mul:  1    current item 10
After multiplication 10    The result is : 10

inital mul:  10    current item 20
After multiplication 20    The result is : 200

inital mul:  200    current item 30
After multiplication 30    The result is : 6000

inital mul:  6000    current item 40
After multiplication 40    The result is : 240000

In [25]:
### find out out the sum of n natural numbers
### way-1 : use formula ---> (n*(n+1))/2
### way-2 : use for loop to find the sum

In [52]:
# Define a function with name find addition
# Keep parameter as N
# o/p print the sum of N numbers

##### find the sum of cubes of n natural numbers

1. n = 5
2. sum = 0
3. result = sum of 1cube + 2 cube + 3cube + 4cube + 5cube = 225

In [58]:
def find_sum_of_cubes(n):
    sum = 0
    n_numbers = range(1, n+1)
    # print(n_numbers, sum)
    for item in n_numbers:
        cube = item**3
        sum = sum +cube
        print(sum, "after adding", item,"cube")
    print(sum)
find_sum_of_cubes(5)

1 after adding 1 cube
9 after adding 2 cube
36 after adding 3 cube
100 after adding 4 cube
225 after adding 5 cube
225

In [63]:
def find_sum_of_cubes_with_form(n):
    return ((n**2)*(n+1)**2)/4
find_sum_of_cubes_with_form(5)

225.0

##### finding sum of even numbers upto n numbers

In [73]:
def find_even_sum(n):
    sum = 0
    for i in range(1, n+1):
        if i%2 == 0:
            sum = sum + i
    return sum
find_even_sum(10)

30

## List Comprehension

In [4]:
li = list(range(1, 11))
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
li1 = [i**2 for i in li]
li1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
li1 = [i**2 for i in li if i%2 == 0]

In [18]:
li1

[4, 16, 36, 64, 100]

In [14]:
result = []
for i in li:
    if i%2 == 0:
        result.append(i**2)

In [15]:
result

[4, 16, 36, 64, 100]

### map
* function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [19]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
list(map(lambda x:x**2, li))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
names = ["Komari Dhanush","Nalla Niharika","Nalla Sriharika","Bandarla Anusha", "JPV Ramana"]

In [28]:
list(map(lambda name:name.startswith("Nalla"), names))

[False, True, True, False, False]

In [30]:
for name in names:
    if name.startswith("Nalla"):
        print(name)

Nalla Niharika
Nalla Sriharika

In [37]:
def square(n):
    print(n)
    return n*n
square(5)

5

25

In [38]:
list(map(square, [1, 2, 5, 20]))

1
2
5
20

[1, 4, 25, 400]

### filter
* The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

In [39]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
list(filter(lambda x:x>5, li))

[6, 7, 8, 9, 10]

In [43]:
names = ["Komari Dhanush","Nalla Niharika","Nalla Sriharika","Bandarla Anusha", "JPV Ramana"]
list(filter(lambda name:name.startswith("Nalla"), names))

['Nalla Niharika', 'Nalla Sriharika']

### reduce

In [46]:
import functools
functools.reduce(lambda a, b: a-b, [1, 2, 3, 4, 5])

-13

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)