# Exception Handling
* Exception is nothing but an error
* Exception handling is defined as how we are handling the errors.
* Types of Errors:
  * Syntax Errors
  * Name Errors
  * Type Errors
  * Index Errors
  * Key Errors
  * Value Errors
  * Attribute Errors
  * IO Error
  * ZeroDivision Errors
  * Import Errors
 
* try, except, finally
* except will only works when the try block is failed, whereas fnally block is executed always.

In [6]:
pritn("Dhanush")

NameError: name 'pritn' is not defined

In [7]:
for i inn range(1, 10):
    print(i)

SyntaxError: invalid syntax (2572104303.py, line 1)

In [9]:
int("Dhanush")

ValueError: invalid literal for int() with base 10: 'Dhanush'

In [11]:
def add(a, b):
    return a+b
add(1, "Niharika")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
a = [1, 2, 3]
a[3]

IndexError: list index out of range

In [16]:
b = {"Value_1": 100,"value_2":200}
b['Value_1']

100

In [17]:
b['name']

KeyError: 'name'

In [18]:
import test

In [19]:
import test1

ModuleNotFoundError: No module named 'test1'

In [20]:
100/0

ZeroDivisionError: division by zero

In [21]:
'dhanush'/0

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [23]:
"Dhanush".startwith("Dh")

AttributeError: 'str' object has no attribute 'startwith'

In [31]:
try:
    password = int(input("Enter value-1: "))
except:
    pass

Enter value-1:  jsflkajdflk

In [33]:
try:
    password = int(input("Enter value-1: "))
except KeyError:
    pass

Enter value-1:  jdakejfkjsa

ValueError: invalid literal for int() with base 10: 'jdakejfkjsa'

In [34]:
a = int(input("Enter a value: "))
b = int(input("Enter b Value: "))

print("The division of ", a,  "and", b, "is: ", a/b)

Enter a value:  10
Enter b Value:  12

The division of  10 and 12 is:  0.8333333333333334

In [38]:
a = int(input("Enter a value: "))
b = int(input("Enter b Value: "))

try:
    print("The division of ", a,  "and", b, "is: ", a/b)
except ValueError:
    print("We catch a zero division error here, so we are switching the values", "The division of ", b,  "and", a, "is: ", b/a)

Enter a value:  12
Enter b Value:  0

ZeroDivisionError: division by zero

In [39]:
a = int(input("Enter a value: "))
b = int(input("Enter b Value: "))

try:
    print("The division of ", a,  "and", b, "is: ", a/b)
except ZeroDivisionError:
    print("We catch a zero division error here, so we are switching the values", "The division of ", b,  "and", a, "is: ", b/a)

Enter a value:  12
Enter b Value:  0

We catch a zero division error here, so we are switching the values The division of  0 and 12 is:  0.0

In [40]:
a = int(input("Enter a value: "))
b = int(input("Enter b Value: "))

try:
    print("The division of ", a,  "and", b, "is: ", a/b)
except:
    print("We catch a zero division error here, so we are switching the values", "The division of ", b,  "and", a, "is: ", b/a)

Enter a value:  12
Enter b Value:  0

We catch a zero division error here, so we are switching the values The division of  0 and 12 is:  0.0

In [41]:
try:
    my_list = [1, 2, 3]
    print(my_list[3])
except IndexError:
    print("Error: Index out of range!")

Error: Index out of range!

In [47]:
try:
    my_list = [1, 2, 3]
    print(my_list[1])
except:
    print("Error: Index out of range!")
finally:
    print("Finally execute everytime")

2
Finally execute everytime

In [48]:
try:
    my_list = [1, 2, 3]
    print(my_list[5])
except:
    print("Error: Index out of range!")
finally:
    print("Finally execute everytime")

Error: Index out of range!
Finally execute everytime

In [61]:
try:
    print("Dhanush"+1)
except Exception as e:
    print("In exc-1", e)
    try:
        print("Dhanush"+10)
    except Exception as e1:
        print("In exc-2", e1)
        try:
            print("Dhanush"+100)
        except:
            print("Dhanush"+str(1))

In exc-1 can only concatenate str (not "int") to str
In exc-2 can only concatenate str (not "int") to str
Dhanush1

In [74]:
for i in range(7):
    for j in range(4):        
        print(i, j)
    print()

0 0
0 1
0 2
0 3

1 0
1 1
1 2
1 3

2 0
2 1
2 2
2 3

3 0
3 1
3 2
3 3

4 0
4 1
4 2
4 3

5 0
5 1
5 2
5 3

6 0
6 1
6 2
6 3