# Strings
* String can be defined as a combination of alphabetics, numbers and symbols
* Strings supports both slicing and indexing
* Strings have both the positive and negative indexing
* Positive indexing starts from 0
* Negative indexing starts from -1
* string[0] --> which gives us the 1st positional charecter of a string
* string[1] --> which gives us the last positional charecter of a string


            0     1    2    3     4     5   ---->  +ve indexng
  a ---->   P     Y    T    H     O     N
           -6    -5   -4   -3    -2    -1   ---->  -ve indexing

### String Indexing

In [1]:
a = "PYTHON"
a[0]

'P'

In [2]:
a[1]

'Y'

In [3]:
a[-1]

'N'

In [4]:
a[5]

'N'

In [2]:
b = "Hyderabad is capital of Telangana"

In [18]:
b[-1]

'a'

### String Slicing

In [4]:
b[0:9]   # fetch only data in between the 10 and 15

'Hyderabad'

In [5]:
b[:9]

'Hyderabad'

In [7]:
b[24:]

'Telangana'

In [8]:
b[24:27]

'Tel'

In [13]:
b[-2]

'n'

In [15]:
b[-5:-1]

'ngan'

### Slicing with Step value

In [23]:
c = "Bangalore"
len(c)    # len function will gives the length the given value

9

In [26]:
c[0:10:2]

'Bnaoe'

In [27]:
c[1:10:2]

'aglr'

### String methods

In [29]:
b

'Hyderabad is capital of Telangana'

In [30]:
c

'Bangalore'

In [31]:
c.lower()   # changes the text into lower case

'bangalore'

In [32]:
b.lower()

'hyderabad is capital of telangana'

In [33]:
b.upper()    # changes the text into upper case

'HYDERABAD IS CAPITAL OF TELANGANA'

In [36]:
"chennai".capitalize()   # capitalize the first letter of the variable or value

'Chennai'

In [38]:
"chennai city".title()   # Capitalize the each word's first letter

'Chennai City'

In [39]:
"Chennai City - TN".casefold()  # Converts the all charecters into lower case

'chennai city - tn'

In [41]:
# helps in comparing two values
email = "Dhanushkomari@gmail.com"
if "DHANUSHKOMARI@GMAIL.COM".casefold() == email.casefold():
    print("Grant access")

Grant access

In [42]:
email

'Dhanushkomari@gmail.com'

In [87]:
c.center(11)   # Center the value with the speicfic width

' Bangalore '

In [88]:
b.center(50)

'        Hyderabad is capital of Telangana         '

In [89]:
b.center(50, '^')

'^^^^^^^^Hyderabad is capital of Telangana^^^^^^^^^'

In [90]:
b.center(100, '@')

'@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Hyderabad is capital of Telangana@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@'

In [94]:
b

'Hyderabad is capital of Telangana'

In [104]:
b.count('is')    # Count is used to find the occurance of a given string within the original string

1

In [93]:
b.count('a')

7

In [103]:
b.casefold().count('Telangana'.casefold())   # ---> 'hyderabad is capital of telangana'.count('telangana')

int

In [99]:
b.casefold()

'hyderabad is capital of telangana'

In [102]:
'Telangana'.casefold()

'telangana'

In [110]:
b.count("is", 10, 20)   # here we have used start and stop, only count the value between 10 and 20

1

In [123]:
b.endswith('Telangana')  # endswith will give us the result True if a value ends with specified string

True

In [119]:
# Ex:2 for endswith
b.casefold().endswith("Ana".casefold())

True

In [129]:
b.startswith('Hyderabad')  # startswith will give us the result True if a value ends with specified string

True

In [130]:
b.startswith('Hyderabad is')

True

In [131]:
c

'Bangalore'

In [149]:
"New\tDelhi".expandtabs(10)   # which gives us mentioned spaces in place of \t

'New       Delhi'

In [152]:
# reference for above cell(expandtabs)
print("New\tDelhi")

New	Delhi

In [158]:
c.find("ga")   # find the starting index wherer the given strin is matched in the main string

3

In [159]:
c.find("ahsfhdsjfk")   # returns -1 if the given string is not exist in main string

-1

In [168]:
c.index('B') #Index function will return the index number where the given charecter or string matched

0

In [165]:
c.index('a', 4, 6)     # here 'a' index is checked between 4 and 6

4

In [170]:
"10".isdigit()

True

In [171]:
"10.55".isdigit()

False

In [176]:
"1087".isdecimal()

True

In [177]:
"1087".isalpha()

False

In [179]:
"ABCd".isalpha()

True

In [180]:
"abcD123".isalpha()

False

In [181]:
"abcD123".isalnum()   # Checks wheather the given string is alphabet or numeric

True

In [186]:
"abc".isalnum()

True

In [187]:
"123".isalnum()

True

In [189]:
"123".isnumeric()

True

In [190]:
"123a".isnumeric()

False

In [191]:
"123@#".isnumeric()

False

In [195]:
"Name".isidentifier()

True

In [198]:
"name_".isidentifier()

True

In [201]:
"1".isidentifier()

False

In [202]:
"$abc".isidentifier()

False

In [204]:
"askjdfajd".isprintable()

True

In [205]:
" ".isspace()

True

In [206]:
"*".isspace()

False

In [207]:
"Python".istitle()

True

In [208]:
"Python programming".istitle()

False

In [209]:
"Python Programming".istitle()

True

In [212]:
"     Python Programming       ".strip()

'Python Programming'

In [213]:
"     Python Programming       ".lstrip()

'Python Programming       '

In [214]:
"     Python Programming       ".rstrip()

'     Python Programming'

### Split

In [1]:
"Bangalore is the capital of Karnataka".split()

['Bangalore', 'is', 'the', 'capital', 'of', 'Karnataka']

In [2]:
blr = "Bangalore is the capital of Karnataka"

In [3]:
blr.split("is")

['Bangalore ', ' the capital of Karnataka']

In [36]:
capitals =  '''
        Hyderabad is capital of Telangana, 
        Chennail is capital of Tamilanadu,
        Bangalore is capital of Karnataka,
        Lucknow is capital of UttarPradesh
        '''

In [37]:
capitals

'\n        Hyderabad is capital of Telangana, \n        Chennail is capital of Tamilanadu,\n        Bangalore is capital of Karnataka,\n        Lucknow is capital of UttarPradesh\n        '

In [38]:
print(capitals)

        Hyderabad is capital of Telangana,
        Chennail is capital of Tamilanadu,
        Bangalore is capital of Karnataka,
        Lucknow is capital of UttarPradesh

In [17]:
cap_sen = capitals.split(',')
cap_sen

['\n           Hyderaba is caital of Telangana',
 '\n           Chennail is capital of Tamilanadu',
 '\n           Bangalore is capital of Karnataka',
 '\n           Lucknow is capital of UttarPradesh\n           ']

In [40]:
for i in cap_sen:
    print(i.replace("\n           ", ""))

Hyderaba is caital of Telangana
Chennail is capital of Tamilanadu
Bangalore is capital of Karnataka
Lucknow is capital of UttarPradesh

In [19]:
"           Hyderaba is caital of Telangana".replace("           ", "")

'Hyderaba is caital of Telangana'

In [28]:
print("India\nAustralia\nUS")

coun = """
        India
        Aus
        US
        """

India
Australia
US

In [30]:
print(coun)

        India
        Aus
        US

In [31]:
coun

'\n        India\n        Aus\n        US\n        '

### looping trhrough a string

In [43]:
for i in "India":
    print(i)

I
n
d
i
a

In [42]:

for item in "India is No.1 ranked cricket team in ODI".split():
    print(item)

India
is
No.1
ranked
cricket
team
in
ODI

In [47]:
print("India is No.1 ranked cricket team in ODI, \nfollowed by Australia")

India is No.1 ranked cricket team in ODI,
followed by Australia

In [48]:
odi_stats = "India is No.1 ranked cricket team in ODI, \nfollowed by Australia"

In [52]:
odi_stats

'India is No.1 ranked cricket team in ODI, \nfollowed by Australia'

In [51]:
print(odi_stats)

India is No.1 ranked cricket team in ODI,
followed by Australia

### String Concatenation

In [55]:
street = 'Madhapur'
city = "HYD"
pin = 500081
state = 'Telangana'
 
# Madhapur,
# HYD, 
# Telangana - 500081

In [75]:
print(street + ",\n" + city + ",\n" +state + " - " + str(pin))

Madhapur,
HYD,
Telangana - 500081

In [66]:
"Dhanush," + " K " + str(155)

'Dhanush, K 155'

In [78]:
"HyDerabaD".swapcase()

'hYdERABAd'

### Join

* Join method is used to join the given two or more string s into one string

In [79]:
cities = ["Hyderabad", "Chennai", "Delhi", "Mumbai"]

In [81]:
cities

['Hyderabad', 'Chennai', 'Delhi', 'Mumbai']

In [95]:
" - ".join(cities)

'Hyderabad - Chennai - Delhi - Mumbai'

# upi transaction complete message

inputs : sender, reciever, amount, reference_no, transaction_status(approved/declined), date, time.
output : 

if transaction_status is approved?
        Hi Thank you for choosing UPI,                    
        Randy sent Rs. 1000 to John on 15-04-2024 at 12:34 PM with reference no : UPI1234.     
        Thanks,
        UPI
else:
         Transaction declined due to insufficient information with refernce no : UPI12345

In [7]:
# inputs

sender = input("Enter Sender name: ")
reciever = input("Enter reciever name: ")
amount = input("Enter amount: ")
reference_no = input("Enter reference number: ")
date = input("Enter date: ")
time = input("Enter time: ")
transaction_status = input("Enter transaction status(approve/decline): ")
    
if transaction_status == 'approve':
    print("Hi Thank you for choosing UPI" + "  \n" + sender + " sent Rs. " + amount + " to " + reciever + " on " + date + " at " + time + " with reference no : " + reference_no + "."+ "\nThanks,\nUPI")
elif transaction_status == 'decline':
    print("your transaction "+ reference_no +" declined due to funds/technical issue. \nThank you, \nTeam UPI")

Enter Sender name:  John
Enter reciever name:  Randy
Enter amount:  56745
Enter reference number:  UPI984523
Enter date:  12-12-2008
Enter time:  12:57 AM
Enter transaction status(approve/decline):  decline

transaction UPI984523 declined due to funds/technical issue.
Thank you,
Team UPI

In [10]:
"Hi this is {}, I am from {}".format("Dhanush", "Nellore")

'Hi this is Dhanush, I am from Nellore'

In [13]:
"Dear {}, Thank you for contacting our online Services. {} will reach out to you shortly. Please call {} in case of any assistance".format("John", "Mike", "+17867898767")

'Dear John, Thank you for contacting our online Services. Mike will reach out to you shortly. Please call +17867898767 in case of any assistance'

In [14]:
statement = "Dear {}, Thank you for contacting our online Services. {} will reach out to you shortly. Please call {} in case of any assistance".format("John", "Mike", "+17867898767")

In [17]:
statement.split()

['Dear',
 'John,',
 'Thank',
 'you',
 'for',
 'contacting',
 'our',
 'online',
 'Services.',
 'Mike',
 'will',
 'reach',
 'out',
 'to',
 'you',
 'shortly.',
 'Please',
 'call',
 '+17867898767',
 'in',
 'case',
 'of',
 'any',
 'assistance']

In [19]:
name = "Christian"
f"Hi This is {name}"

'Hi This is Christian'

In [20]:
"Hi This is "+ name

'Hi This is Christian'

In [26]:
"Hi This is {}".format(name)

'Hi This is Christian'

In [25]:
"Hi This is {}".format("Chris")

'Hi This is Chris'