# Collections

* List
* Tuple
* Sets
* Dictionaries
* frozen set

## List
* List can be defined as a collection of both homegeneous and heterogenous data types(Supports all data types in a single list).
  1. Homogeneous data is defined as a same kind of data(same data type)
  2. Heterogeneous data is defined as different kinds of data(multiple data types)
* Lists are enclosed with square brackets...,    [    ]
* list method is used to convert any kind of data into list
* list can support both negative and positive indexing
* list starts with 0 index, ends with -1 index
* lists are mutable(data in lists can be updated)
* lists are allowed dupicate elements
* lists maintains insertion order

In [1]:
L1 = [1, 2, 3, "Hi", "Hello", 10.5, True]

In [2]:
type(L1)

list

### List Indexing

In [3]:
L1[0]         # Fetch first element from the list

1

In [4]:
L1[-1]       # fetch last element from the list

True

In [5]:
L1[3]        # fetch 3 indexed element from the list

'Hi'

In [6]:
L1[0:4]      # fetch first four elements from the list

[1, 2, 3, 'Hi']

In [7]:
L1[4:]       # fetch the elements from 4th index to last element

['Hello', 10.5, True]

### List Slicing

In [8]:
L1[3:5]     # Slicing

['Hi', 'Hello']

In [9]:
L1[0:7:2]

[1, 3, 'Hello', True]

In [14]:
L1[::2]

[1, 3, 'Hello', True]

#### Reversing a list

In [17]:
L1[::-1]      # whenever step equals to -1, then list will be started from right to left

[True, 10.5, 'Hello', 'Hi', 3, 2, 1]

### Updating a list Items

In [19]:
L1

[1, 2, 3, 'Hi', 'Hello', 10.5, True]

In [21]:
L1[1] = 25

In [22]:
L1

[1, 25, 3, 'Hi', 'Hello', 10.5, True]

In [23]:
L1[2] = "How are you ?"

In [24]:
L1

[1, 25, 'How are you ?', 'Hi', 'Hello', 10.5, True]

In [26]:
L2 = [1, 2, 1, 1, 2, "Hi", "Hello", "Hey", "Hello"]  # list allow duplicate elements

In [33]:
L2[0:5] = [10, 20, 10, 10, 20]   # Updaing multiple elements in a list

In [29]:
L2

[10, 20, 10, 10, 20, 'Hi', 'Hello', 'Hey', 'Hello']

In [31]:
L2[0:5:2] = [1, 2, 5]      # Updaing multiple elements in a list with step

In [32]:
L2

[1, 20, 2, 10, 5, 'Hi', 'Hello', 'Hey', 'Hello']

In [37]:
emp_1 = 'John'
emp_2 = 'Mike'
emp_3 = 'Chris'
emp_4 = 'Randy'

employee_list = [emp_1, emp_2, emp_3, emp_4]
print(employee_list)

['John', 'Mike', 'Chris', 'Randy']

### Adding elements into the list

* append   --> adds the new element to end of the list
* insert
    1. insert takes two arguments, index and value or object.
    2. insert is used when we want to insert an element in a specific location based on index
* extend   --> adds multiple elements at a time to the list(ex: adding list to another list)

In [38]:
L1

[1, 25, 'How are you ?', 'Hi', 'Hello', 10.5, True]

In [39]:
L1.append("John")

In [40]:
L1

[1, 25, 'How are you ?', 'Hi', 'Hello', 10.5, True, 'John']

In [41]:
L1.append(250000)

In [42]:
L1

[1, 25, 'How are you ?', 'Hi', 'Hello', 10.5, True, 'John', 250000]

In [43]:
L1.append(234, "Once in a year")

TypeError: list.append() takes exactly one argument (2 given)

In [44]:
L1.extend(234, "Once in a year")

TypeError: list.extend() takes exactly one argument (2 given)

In [45]:
L1.extend([234, "Once in a year"])

In [46]:
L1

[1,
 25,
 'How are you ?',
 'Hi',
 'Hello',
 10.5,
 True,
 'John',
 250000,
 234,
 'Once in a year']

In [47]:
L1.append([234, "Once in a year"])

In [48]:
L1

[1,
 25,
 'How are you ?',
 'Hi',
 'Hello',
 10.5,
 True,
 'John',
 250000,
 234,
 'Once in a year',
 [234, 'Once in a year']]

In [49]:
L1[-1]

[234, 'Once in a year']

In [51]:
L1[-1][-1]

'Once in a year'

In [67]:
L3 = [123, ["Hey", "Hello", "Welcome", "Granted", 9], [1, 5, 7, 56, 78, 90], [True, False, "Hyd", "Blr"]]

In [68]:
len(L3)

4

In [69]:
L3[1]

['Hey', 'Hello', 'Welcome', 'Granted', 9]

In [70]:
len(L3[1])

5

In [71]:
L3[1][1] = 'Hello All'

In [72]:
L3

[123,
 ['Hey', 'Hello All', 'Welcome', 'Granted', 9],
 [1, 5, 7, 56, 78, 90],
 [True, False, 'Hyd', 'Blr']]

In [73]:
L3[1].append("I am new element")

In [74]:
L3

[123,
 ['Hey', 'Hello All', 'Welcome', 'Granted', 9, 'I am new element'],
 [1, 5, 7, 56, 78, 90],
 [True, False, 'Hyd', 'Blr']]

In [78]:
L4 = list(range(1,11))

In [79]:
L4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
L4.insert(3, 50)

In [81]:
L4

[1, 2, 3, 50, 4, 5, 6, 7, 8, 9, 10]

In [82]:
L4.insert(3, [12, 14, 16])

In [83]:
L4

[1, 2, 3, [12, 14, 16], 50, 4, 5, 6, 7, 8, 9, 10]

## Removing elemens from a list

* remove  --->   removes the mentioned element from the list
* pop     --->   pop is used to delete the mntioned index element, pop removed last element if we don't mention index.

In [86]:
L4

[1, 2, 3, [12, 14, 16], 50, 4, 5, 6, 7, 8, 9, 10]

In [88]:
L4.remove(2)

In [89]:
L4

[1, 3, [12, 14, 16], 50, 4, 5, 6, 7, 8, 9, 10]

In [90]:
L4.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [91]:
L4.pop()

10

In [92]:
L4

[1, 3, [12, 14, 16], 50, 4, 5, 6, 7, 8, 9]

In [93]:
L4.pop(2)

[12, 14, 16]

In [94]:
L4

[1, 3, 50, 4, 5, 6, 7, 8, 9]

In [95]:
deleted_2nd_value_in_L4 = L4.pop(2)

In [96]:
L4

[1, 3, 4, 5, 6, 7, 8, 9]

In [97]:
deleted_2nd_value_in_L4

50

In [98]:
L5 = [1, 3, [12, 14, 16], 50, 4, 5, 6, 7, 8, 9]

In [99]:
L5[2].pop(1)

14

In [100]:
L5

[1, 3, [12, 16], 50, 4, 5, 6, 7, 8, 9]

### Looping  a list

In [112]:
print(L4)

[1, 3, 4, 5, 6, 7, 8, 9]

In [113]:
for item in L4:
    print(item)

1
3
4
5
6
7
8
9

In [114]:
for item in L4:
    print("square of", item, "is:", item*item)

square of 1 is: 1
square of 3 is: 9
square of 4 is: 16
square of 5 is: 25
square of 6 is: 36
square of 7 is: 49
square of 8 is: 64
square of 9 is: 81

In [115]:
L4.insert(1, 2)
L4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
L4.append(10)

In [118]:
L4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
for i in L4:
    if i%2 == 0:
        result = 'even'
    else:
        result = 'odd'
    print(i, "is", result, "number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [1]:
list("Dhanush")

['D', 'h', 'a', 'n', 'u', 's', 'h']

In [3]:
Hyd_cap = "Hyderabad is capital of telangana"

In [5]:
for item in Hyd_cap.split():
    print(item)

Hyderabad
is
capital
of
telangana

In [6]:
Hyd_cap.split()

['Hyderabad', 'is', 'capital', 'of', 'telangana']

In [ ]:
for item in ['Hyderabad', 'is', 'capital', 'of', 'telangana']:
    print(item)

#### we have sentence, we need to check each word in that sentence is starting with a or not, and also mention length of each letter beside the result

In [22]:
sentence  = "hyderabad bangalore america antarctica after rain abudhabi alias dallas atlanta boston new york"

# o/p ex:
# hyderabad is not startig with a, lenght of hyderabad is 9
for item in sentence.split():
    if item.startswith('a'):
        print(item, "is starting with a", "length of", item, "is", len(item), "\n")
    else:
        print(item, "is not starting with a", "length of", item, "is", len(item), "\n")
    # print('\n')

hyderabad is not starting with a length of hyderabad is 9

bangalore is not starting with a length of bangalore is 9

america is starting with a length of america is 7

antarctica is starting with a length of antarctica is 10

after is starting with a length of after is 5

rain is not starting with a length of rain is 4

abudhabi is starting with a length of abudhabi is 8

alias is starting with a length of alias is 5

dallas is not starting with a length of dallas is 6

atlanta is starting with a length of atlanta is 7

boston is not starting with a length of boston is 6

new is not starting with a length of new is 3

york is not starting with a length of york is 4

In [23]:
li = list(range(100, 201, 12))
li

[100, 112, 124, 136, 148, 160, 172, 184, 196]

In [27]:
for item in li:
    div_8 = item/8
    add_5 = div_8 + 5
    mul_3 = add_5 * 3
    result = mul_3

    print("The result of", item,"is ", result,"we have done division, addition, multiplication operations")

The result of 100 is  52.5 we have done division, addition, multiplication operations
The result of 112 is  57.0 we have done division, addition, multiplication operations
The result of 124 is  61.5 we have done division, addition, multiplication operations
The result of 136 is  66.0 we have done division, addition, multiplication operations
The result of 148 is  70.5 we have done division, addition, multiplication operations
The result of 160 is  75.0 we have done division, addition, multiplication operations
The result of 172 is  79.5 we have done division, addition, multiplication operations
The result of 184 is  84.0 we have done division, addition, multiplication operations
The result of 196 is  88.5 we have done division, addition, multiplication operations

### List methods

* clear()

In [33]:
li

[100, 112, 124, 136, 148, 160, 172, 184, 196]

In [34]:
li.clear()

In [35]:
li

[]

In [36]:
del li

In [37]:
li

NameError: name 'li' is not defined

In [39]:
li1 = list(range(100, 201, 14))

In [40]:
li1

[100, 114, 128, 142, 156, 170, 184, 198]

In [41]:
li2 = li1.copy()      # data of li1 is copied into li2, both li1 and li2 works independently

In [42]:
li1

[100, 114, 128, 142, 156, 170, 184, 198]

In [43]:
li2

[100, 114, 128, 142, 156, 170, 184, 198]

In [44]:
li3 = li1         # data of li1 is assigned to li3, both li1 and li2 dependent.if we change data in any list, then second list also got the same changes.

In [45]:
li3

[100, 114, 128, 142, 156, 170, 184, 198]

In [46]:
li3[0] = 98

In [47]:
li3

[98, 114, 128, 142, 156, 170, 184, 198]

In [48]:
li1

[98, 114, 128, 142, 156, 170, 184, 198]

In [49]:
li1

[98, 114, 128, 142, 156, 170, 184, 198]

In [50]:
li2

[100, 114, 128, 142, 156, 170, 184, 198]

In [51]:
li3

[98, 114, 128, 142, 156, 170, 184, 198]

In [53]:
li3[0] = 18

In [54]:
li3

[18, 114, 128, 142, 156, 170, 184, 198]

In [55]:
li1

[18, 114, 128, 142, 156, 170, 184, 198]

In [56]:
li2[0] = 15

In [57]:
li2

[15, 114, 128, 142, 156, 170, 184, 198]

In [58]:
li1

[18, 114, 128, 142, 156, 170, 184, 198]

In [59]:
li3

[18, 114, 128, 142, 156, 170, 184, 198]

In [60]:
li3.count(18)       # count is used to find the count of the single value

1

In [61]:
li3.append(18)

In [62]:
li3

[18, 114, 128, 142, 156, 170, 184, 198, 18]

In [63]:
li3.count(18)    # count is used to find the count of the single value

2

In [65]:
li3.index(114)

1

In [71]:
li3.index(18, 1, 100)     # find the index of givn value between the mentioned start and end

8

In [72]:
li3

[18, 114, 128, 142, 156, 170, 184, 198, 18]

In [76]:
li3.pop()      # pop is used to remove the last value from the list. if we give the argument to the pop, then the mentioned index value is removed.

198

In [74]:
li3

[18, 114, 128, 142, 156, 170, 184, 198]

In [75]:
li3.pop(5)

170

In [81]:
li3.remove()   # remove methd is used to remove the spcified value from the list

TypeError: list.remove() takes exactly one argument (0 given)

In [82]:
li3

[18, 114, 128, 156, 184]

In [84]:
li3.remove(128)

In [85]:
li3

[18, 114, 156, 184]

In [86]:
li3.reverse()    # reversing the list

In [87]:
li3

[184, 156, 114, 18]

In [88]:
li3[::-1]   # it will also reverse the list, but don't do the assignment

[18, 114, 156, 184]

In [89]:
li3

[184, 156, 114, 18]

In [90]:
li3.sort()   # sort the list values in ascending order

In [91]:
li3

[18, 114, 156, 184]

In [92]:
li3.sort(reverse = True)

In [93]:
li3

[184, 156, 114, 18]

In [97]:
li4 = ["Hyderabad", "Bangalore", "Chennai", "Delhi"]
li4.sort()      # sort the list based on the first charecter of the each string

In [98]:
li4

['Bangalore', 'Chennai', 'Delhi', 'Hyderabad']

In [101]:
li4 = ["hyderabad", "Bangalore", "chennai", "Delhi"]
li4.sort(key = str.upper)      # sort the list based on the first charecter of the each string with lower case conversion

In [102]:
li4

['Bangalore', 'chennai', 'Delhi', 'hyderabad']

In [103]:
list = [1,2,4,5,67,89,10]

In [104]:
list

[1, 2, 4, 5, 67, 89, 10]

In [105]:
list(12, 12324)

TypeError: 'list' object is not callable

# ip = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 1, 1,, 1, 1, 9, 9, 8, 7, 16, 12, 12,8, 10]
# remove the duplicate elements fro the above list

op = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 16]

hint: use membership operators

1. take one empty list
2. loop each element in the ip list, push into the op list if the element is not exist in the ip list.

# max
# min
# range
# len 
# list

In [2]:
l1 = list(range(1, 100, 15))
l1

[1, 16, 31, 46, 61, 76, 91]

In [3]:
max(l1)

91

In [4]:
min(l1)

1

In [5]:
l1.append(100)


l1.max()

AttributeError: 'list' object has no attribute 'max'

In [6]:
l1

[1, 16, 31, 46, 61, 76, 91, 100]

In [9]:
l2 = [1, 2, 3, 4, 5, 6]
square_l2 = []
for item in l2:
    
    mul_val = item * item
    square_l2.append(mul_val)

In [10]:
square_l2

[1, 4, 9, 16, 25, 36]

### list comprehension

In [25]:
li3 = [item for item in l2]
li3

[1, 2, 3, 4, 5, 6]

In [28]:
li3_square = [item*item for item in l2]
li3_square

[1, 4, 9, 16, 25, 36]

In [29]:
li3_cube = [item**3 for item in l2]
li3_cube

[1, 8, 27, 64, 125, 216]

In [31]:
li3_cube_even = [item**3 for item in l2 if item % 2 == 0]
li3_cube_even

[8, 64, 216]

## Tuple

* tuple can be defined as a collection of both homegeneous and heterogenous data types(Supports all data types in a single tuple).
  1. Homogeneous data is defined as a same kind of data(same data type)
  2. Heterogeneous data is defined as different kinds of data(multiple data types)
* tuples are enclosed with paranthesis...,    (   )
* tuple method is used to convert any kind of data into tuple
* tuple can support both negative and positive indexing
* tuple starts with 0 index, ends with -1 index
* tuples are immutable(data in tuple cannot be changed or new data can't be added like list)
* tuples are allowed dupicate elements
* Tuple maintains insertion order

In [35]:
t1 = (1, 2, 3, 4, 5, 6)

In [36]:
type(t1)

tuple

In [38]:
print(type(t1))

<class 'tuple'>

In [42]:
t2 = (1, 2, "Hello", "Hi", True, 1+2j, 10.33)

In [43]:
t2

(1, 2, 'Hello', 'Hi', True, (1+2j), 10.33)

In [44]:
t2[0]

1

In [45]:
t2[-1]

10.33

In [46]:
type(t2[-1])

float

In [47]:
t2[:5]

(1, 2, 'Hello', 'Hi', True)

In [48]:
t2[4:6]

(True, (1+2j))

In [49]:
t2[1:6:2]

(2, 'Hi', (1+2j))

In [51]:
li = list(range(1, 11))
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
tuple(li)   # tuple is used to convert an object into a tuple  --> converitng list into tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [59]:
tuple((1, ))

(1,)

In [60]:
t2

(1, 2, 'Hello', 'Hi', True, (1+2j), 10.33)

In [61]:
t2[1] = "Hey change 2"    # we can't update the tuple

TypeError: 'tuple' object does not support item assignment

In [62]:
t3 = (1, 2, 'Hello', 'Hi', True, (1+2j), 10.33, 2)

In [63]:
t3

(1, 2, 'Hello', 'Hi', True, (1+2j), 10.33, 2)

In [64]:
t2

(1, 2, 'Hello', 'Hi', True, (1+2j), 10.33)

In [67]:
list(t2)[1] = "Hey change 2"

In [70]:
t2_list = list(t2)
t2_list

[1, 2, 'Hello', 'Hi', True, (1+2j), 10.33]

In [71]:
t2_list[1] = "Hey change 2"

In [72]:
t2_list

[1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33]

In [74]:
t2 = tuple(t2_list)

In [75]:
t2

(1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33)

In [78]:
last_value = "Hey this the end of the tuple"
t2.append(last_value)       # In tuple append method won't work

AttributeError: 'tuple' object has no attribute 'append'

In [82]:
t2.count(1)

2

In [83]:
(True, ).count(1)

1

In [84]:
t2

(1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33)

In [85]:
t2.index("Hello")

2

In [88]:
a = 10
b = 20
c = 30


a, b, c  # tuple packing

(10, 20, 30)

In [97]:
(c, d, e) = (100, 200, 300)  # unpacking

In [98]:
c

100

In [99]:
d

200

In [100]:
e

300

In [101]:
t2

(1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33)

### Looping or traversing a tuple

In [106]:
for item in t2:
    print(item)

1
Hey change 2
Hello
Hi
True
(1+2j)
10.33

### joining a tupele

In [109]:
t3 = t2 + t1

In [110]:
t3

(1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33, 1, 2, 3, 4, 5, 6)

In [111]:
t4 = t3 * 3

In [113]:
print(t4)

(1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33, 1, 2, 3, 4, 5, 6, 1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33, 1, 2, 3, 4, 5, 6, 1, 'Hey change 2', 'Hello', 'Hi', True, (1+2j), 10.33, 1, 2, 3, 4, 5, 6)

## Sets

* set can be defined as a collection of both homegeneous and heterogenous data types(Supports all data types in a single set).
  1. Homogeneous data is defined as a same kind of data(same data type)
  2. Heterogeneous data is defined as different kinds of data(multiple data types)
* sets are enclosed with paranthesis...,    {     }
* set method is used to convert any kind of data into set
* set cannot support indexing & slicing
* sets are immutable(data in tuple cannot be changed or new data can't be added like list)
* sets are not allowed dupicate elements

In [2]:
s1 = {1, 2, 3, 4, 1, 2, 3, 4}   # duplicates are not allowed

In [3]:
s1

{1, 2, 3, 4}

In [4]:
li = list(range(1, 11))

In [5]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
set(li)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
s1

{1, 2, 3, 4}

In [8]:
s1[0]  # indexing not allowed

TypeError: 'set' object is not subscriptable

In [ ]:
s1[0] = 100  # we can't update values in set due to its insertion order maintanance

In [ ]:
s1

In [ ]:
s1.add(100)

In [135]:
s1

{1, 2, 3, 4, 100}

In [136]:
s1.add(200, 300)

TypeError: set.add() takes exactly one argument (2 given)

In [138]:
s1.update([200, 300])

In [139]:
s1

{1, 2, 3, 4, 100, 200, 300}

In [140]:
s1.update((400, 500))

In [141]:
s1

{1, 2, 3, 4, 100, 200, 300, 400, 500}

In [142]:
s1.update({600, 700})

In [143]:
s1

{1, 2, 3, 4, 100, 200, 300, 400, 500, 600, 700}

In [144]:
s1.remove(600)

In [145]:
s1

{1, 2, 3, 4, 100, 200, 300, 400, 500, 700}

In [146]:
s1.clear()

In [147]:
s1

set()

In [13]:
s1.pop()  # pop removes the random element from the set

3

In [11]:
s1

{2, 3, 4}

In [12]:
s1.pop()

2

In [15]:
s2 = {"Hyd", 1, "Blr", 2, "Chn", 3}
s2

{1, 2, 3, 'Blr', 'Chn', 'Hyd'}

In [17]:
s3 = {"Mum", 11, "Klk", 12, "Guj", 13}
s3

{11, 12, 13, 'Guj', 'Klk', 'Mum'}

In [18]:
s4 = s3.copy()

In [20]:
s4.add("VJA")

In [21]:
s4

{11, 12, 13, 'Guj', 'Klk', 'Mum', 'VJA'}

In [23]:
s3

{11, 12, 13, 'Guj', 'Klk', 'Mum'}

In [24]:
s2

{1, 2, 3, 'Blr', 'Chn', 'Hyd'}

In [26]:
s5 = s2.union(s3)      # Fetch all the unique elements from the both sets
s5

{1, 11, 12, 13, 2, 3, 'Blr', 'Chn', 'Guj', 'Hyd', 'Klk', 'Mum'}

In [27]:
s3

{11, 12, 13, 'Guj', 'Klk', 'Mum'}

In [28]:
s5

{1, 11, 12, 13, 2, 3, 'Blr', 'Chn', 'Guj', 'Hyd', 'Klk', 'Mum'}

In [29]:
s3.intersection(s5)      # Fetch all the unique elements if the element exist in both the sets

{11, 12, 13, 'Guj', 'Klk', 'Mum'}

In [30]:
s5.difference(s3)      # Returns a set containing the difference between two or more sets

{1, 2, 3, 'Blr', 'Chn', 'Hyd'}

In [41]:
s6 = {"HYD", "CHN", "BLR"}
s7 = {"HYD", "CHN"}
s6.difference_update(s7)

In [42]:
s6

{'BLR'}

In [40]:
s7

{'CHN', 'HYD'}

In [43]:
s7.discard("CHN")

In [44]:
s7

{'HYD'}

In [45]:
s6 = {"HYD", "CHN", "BLR"}
s7 = {"HYD", "CHN"}
s6.intersection_update(s7)

In [46]:
s6

{'CHN', 'HYD'}

In [49]:
s11 = set(range(1, 11))
s12 = set(range(1, 5))

{1, 2, 3, 4}

In [50]:
s11, s12

({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {1, 2, 3, 4})

In [57]:
s12.issubset(s11)    # USed to find the the given set is a part of another set of not, if yes gives the True result otherwise False

True

In [58]:
s11.isdisjoint(s12)   # The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

False

In [59]:
s11

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
s12

{1, 2, 3, 4}

In [61]:
s11.issuperset(s12)

True

In [62]:
s12.issuperset(s11)

False

### Frozen set
* We can't update the data in frozen set(ex., add, update, pop, discards methods won't work)
* Union, intersection, is disjoint, issubset, issuperset, etc methods will work

In [67]:
frozenset(s11)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [76]:
type(frozenset(s11))

frozenset

In [68]:
s13 = frozenset(s11)

In [70]:
s13.add(12)

AttributeError: 'frozenset' object has no attribute 'add'

##  Dictionary
* dictionary is a collection of key value pairs
* Insertiong order is maintained
* Dictionary don't allow duplicate keys
* Dictionary allows duplicate values
* Values in dictionary can be accessed with the help of keys

+-------------------------+-----------------------------+
+     EMP_NAME            +      EMP_DESIGNATION        +                        
+-------------------------+-----------------------------+
+ Dhanush                 +       Python Developer      +
+-------------------------+-----------------------------+
+ Niharika                +       Senior Associate      +
+-------------------------+-----------------------------+

In [89]:
emp_1 = {"EMP_NAME" : "Dhanush", "EMP_DESIGNATION" :  "Python Developer"}
emp_2 = {"EMP_NAME" : "Niharika", "EMP_DESIGNATION" :  "Senior Associate", "Address" : "HYD"}

In [90]:
emp_1

{'EMP_NAME': 'Dhanush', 'EMP_DESIGNATION': 'Python Developer'}

In [91]:
emp_2

{'EMP_NAME': 'Niharika',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD'}

In [86]:
type(emp_1)

dict

#### Accessing Elements

In [92]:
emp_1["EMP_NAME"]

'Dhanush'

In [93]:
emp_1["EMP_DESIGNATION"]

'Python Developer'

In [94]:
emp_2["EMP_NAME"]

'Niharika'

In [95]:
emp_2["EMP_DESIGNATION"]

'Senior Associate'

In [97]:
emp_2["Address"]

'HYD'

In [98]:
emp_1["Address"]

KeyError: 'Address'

In [99]:
emp_2

{'EMP_NAME': 'Niharika',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD'}

In [104]:
emp_2.keys()      # accessing only keys in a emp_2

dict_keys(['EMP_NAME', 'EMP_DESIGNATION', 'Address'])

In [106]:
emp_2.values()   # accessing only values in a emp_2

dict_values(['Niharika', 'Senior Associate', 'HYD'])

#### Updating elements

In [108]:
emp_2

{'EMP_NAME': 'Niharika',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD'}

In [110]:
emp_2['EMP_NAME'] = "Niharika Nalla"     # updating name

In [111]:
emp_2

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD'}

In [112]:
emp_2['PINCODE'] = 500031

In [114]:
emp_2   # adding new key value pair to the existing dict

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD',
 'PINCODE': 500031}

In [118]:
emp_2['PINCODE'] = 500032   # updating if key already exist

In [119]:
emp_2

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD',
 'PINCODE': 500032}

In [125]:
emp_3 = {
         'EMP_NAME': 'Niharika Nalla',
         'EMP_DESIGNATION': 'Senior Associate',
         'City' : 'HYD',
         'Address': 'HYD',
         'PINCODE': 500031,
         'PINCODE': 500033
         }      
# Dictionary don't allow duplicate keys whereas values are duplicated

In [126]:
emp_3

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'City': 'HYD',
 'Address': 'HYD',
 'PINCODE': 500033}

In [128]:
emp_3.pop("City")     # removes the mentioned key along with value

'HYD'

In [129]:
emp_3

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD',
 'PINCODE': 500033}

In [130]:
emp_3.popitem()

('PINCODE', 500033)

In [131]:
emp_3

{'EMP_NAME': 'Niharika Nalla',
 'EMP_DESIGNATION': 'Senior Associate',
 'Address': 'HYD'}