# OOPs - Object Oriented Programming Systems
* Python is Object oriented Progrmming language.
* Anything in python is treated as object.
* A class can be defined as a blueprint
* class is a collection of variables and methods
* __ init__() is works as a constructor for class.
* constructor is used to construct the class
* self is used to poit out the current object.
* class keyword is used to create the classe.

In [2]:
class Employee:
    def __init__(self):
        self.employee_name  = input("Enter Employee Name: ")
        self.employee_email = input("Entere Employee Email: ")
        self.employee_sal = float(input("Enter Month Salary"))
    def display_name(self):
        print(self.employee_name)
    def display_email(self):
        print(self.employee_email)
    def check_email(self):
        if '@' in self.employee_email:
            print("Email is valid")
            return "Valid"
        else:
            print("Email is invalid")
            return "Invalid"
    def calculate_ctc(self):
        print(self.employee_sal*12)

In [36]:
e1 = Employee()

Enter Employee Name:  Niharika
Entere Employee Email:  niharika@gmail.com
Enter Month Salary 50000

In [37]:
result = e1.check_email()

Email is valid

In [38]:
result

'Valid'

In [39]:
e1.calculate_ctc()

600000.0

In [4]:
Employee().display_name()

Enter Employee Name:  Dhanush
Entere Employee Email:  Dhanush@gmail.com
Enter Month Salary 120000

Dhanush

### OOPs Features
1. Abstraction
2. Encapsulation
3. Inheritance
4. Polymorphism
* Abstaction can be defined as hiding the non-essential elements and unhiding the essential information.
* Encapsulation is the process of combining variable and methods.

In [8]:
class Student:
    def __init__(self):
        # take all the inputs from the end user
        self.st_name = input("Enter Student Name: ")
        self.st_id   = input("Enter Student ID: ")
        self.st_email = input("Enter Student Email: ")
        self.st_mobile = input("Enter Student Mobile: ")
        self.st_age = int(input("Enter Age: "))
        self.st_quarterly_fee = float(input("Enter Quarterly Fee: "))
        self.password = input("Enter password, include $, ~ in your password:")
        
    # Display infromation of student
    def display_info(self):
        print("Student Name ::", self.st_name)
        print("Student ID ::", self.st_id)
        print("Student Email ::", self.st_email)
        print("Student Mobile ::", self.st_mobile)
        print("Student Age ::", self.st_age)        
        print("Student quarterly fee ::", self.st_quarterly_fee)
        return 
    # Password Validation
    def password_validation(self):
        if ('$' in self.password) or ('~' in self.password):
            print("Your password is valid")
        else:
            print("Password invalid")

In [9]:
s1 = Student()
s1.display_info()
s1.password_validation()

Enter Student Name:  Dhanush
Enter Student ID:  STD-12344
Enter Student Email:  DHnaush@gail.com
Enter Student Mobile:  8989898989
Enter Age:  26
Enter Quarterly Fee:  15000
Enter password, include $, ~ in your password: Dhaush$qwr

Student Name :: Dhanush
Student ID :: STD-12344
Student Email :: DHnaush@gail.com
Student Mobile :: 8989898989
Student Age :: 26
Student quarterly fee :: 15000.0
Your password is valid

In [10]:
s2 = Student()
s2.display_info()
s2.password_validation()

Enter Student Name:  Niharika
Enter Student ID:  STD-12345
Enter Student Email:  Niharika@gmail.com
Enter Student Mobile:  9999900000
Enter Age:  27
Enter Quarterly Fee:  12000
Enter password, include $, ~ in your password: Niharika@ajfdksjkjf

Student Name :: Niharika
Student ID :: STD-12345
Student Email :: Niharika@gmail.com
Student Mobile :: 9999900000
Student Age :: 27
Student quarterly fee :: 12000.0
Password invalid

In [11]:
for i in range(3):
    s = Student() # Init method will ask the required student info
    print()
    s.display_info()
    print()
    s.password_validation()
    print()
    print()

Enter Student Name:  Dhanush
Enter Student ID:  ID123
Enter Student Email:  dhanush@gmai.com
Enter Student Mobile:  7878787878
Enter Age:  26
Enter Quarterly Fee:  11200
Enter password, include $, ~ in your password: Dhanush@&~123

Student Name :: Dhanush
Student ID :: ID123
Student Email :: dhanush@gmai.com
Student Mobile :: 7878787878
Student Age :: 26
Student quarterly fee :: 11200.0

Your password is valid

Enter Student Name:  Niharika
Enter Student ID:  ID124
Enter Student Email:  Niharik@gail.com
Enter Student Mobile:  6767676767
Enter Age:  27
Enter Quarterly Fee:  12999
Enter password, include $, ~ in your password: Niharikkdkfdvdn

Student Name :: Niharika
Student ID :: ID124
Student Email :: Niharik@gail.com
Student Mobile :: 6767676767
Student Age :: 27
Student quarterly fee :: 12999.0

Password invalid

Enter Student Name:  Ramana
Enter Student ID:  ID125
Enter Student Email:  Ramana@yahoo.com
Enter Student Mobile:  5656565656
Enter Age:  38
Enter Quarterly Fee:  12999
Enter password, include $, ~ in your password: Ramana~123

Student Name :: Ramana
Student ID :: ID125
Student Email :: Ramana@yahoo.com
Student Mobile :: 5656565656
Student Age :: 38
Student quarterly fee :: 12999.0

Your password is valid

In [9]:
class Student:
    def __init__(self):
        # take all the inputs from the end user
        self.st_id   = input("Enter Student ID: ")
        self.st_name = input("Enter Student Name: ")        
        self.monthly_stipend = float(input("Enter Stipend: "))

        
    # Display infromation of student
    def display_info(self):
        print("Student ID ::", self.st_id)
        print("Student Name ::", self.st_name)    
        print()
        return {"Student Name": self.st_name, "Student ID": self.st_id}

    def yearly_earnings(self):
        return self.monthly_stipend*12

In [ ]:
li = []
for i in range(5):
    s = Student()
    std_data = s.display_info()
    std_data['Annual_Earnings'] = s.yearly_earnings()
    li.append(std_data)

Enter Student ID:  1
Enter Student Name:  Niharika
Enter Stipend:  1299

Student ID :: 1
Student Name :: Niharika

Enter Student ID:  Dhanush
Enter Student Name:  Dhanush Komari

In [15]:
# ASSIGNMENT
us_markets = [
    {"city": "New York", "state": "NY", "population": 8336697},
    {"city": "Los Angeles", "state": "CA", "population": 3976322},
    {"city": "Chicago", "state": "IL", "population": 2695598},
    {"city": "Houston", "state": "TX", "population": 2325502},
    {"city": "Phoenix", "state": "AZ", "population": 1633565},
    {"city": "Philadelphia", "state": "PA", "population": 1587825},
    {"city": "San Antonio", "state": "TX", "population": 1487738},
    {"city": "San Diego", "state": "CA", "population": 1406630},
    {"city": "Dallas", "state": "TX", "population": 1317929},
    {"city": "San Jose", "state": "CA", "population": 1030119},
    {"city": "Austin", "state": "TX", "population": 885400},
    {"city": "Jacksonville", "state": "FL", "population": 868031},
    {"city": "San Francisco", "state": "CA", "population": 864816},
    {"city": "Indianapolis", "state": "IN", "population": 853173},
    {"city": "Columbus", "state": "OH", "population": 850106},
    {"city": "Fort Worth", "state": "TX", "population": 792727},
    {"city": "Charlotte", "state": "NC", "population": 792862},
    {"city": "Seattle", "state": "WA", "population": 668342},
    {"city": "Denver", "state": "CO", "population": 663862},
    {"city": "El Paso", "state": "TX", "population": 674433}
]

def find_population(market_search):
    for market in us_markets:
        if market['city'] == market_search:
            print(market['population'])
find_population('Denver')

663862

In [28]:
def find_population():
    market_search = input("Enter Market name to get the population")
    for market in us_markets:
        if market['city'] == market_search:
            # print("Found")
            result = market['population']
            break
        else:
            # print("Not Found")
            result = "Record not found"
    print(result)
find_population()

Enter Market name to get the population Columbus

850106

In [36]:
class Bank_Account:
    def __init__(self):
        print("*******Opening a bank account*********")
        self.Account_Name = input("Enter Account Name: ")
        self.Account_Number = int(input("Enter Account Number: "))
        self.Account_Available_Amount = float(input("Enter Available Amount(Initital deposit): \n"))
    def display_info(self):
        print("Account Holder Name:", self.Account_Name)
        print("Account Number:", self.Account_Number)
        print("Account Available Amount ", self.Account_Available_Amount, '\n')
    def withdrawl(self):
        withdrawl_amount = float(input("Enter amount to witdhdrawl: "))
        if withdrawl_amount <= self.Account_Available_Amount:
            self.Account_Available_Amount = self.Account_Available_Amount - withdrawl_amount
            print(withdrawl_amount, "has been debited from", str(self.Account_Number)+".", "Current Balance is", self.Account_Available_Amount, '\n')
    def deposit(self):
        deposit_amount = float(input("Enter amount to deposit: "))
        self.Account_Available_Amount += deposit_amount
        print(deposit_amount, "has credited in", str(self.Account_Number)+".", "Avialable balance is", self.Account_Available_Amount, '\n')

b1 =  Bank_Account()
b1.display_info()
b1.deposit()

*******Opening a bank account*********

Enter Account Name:  Niharika
Enter Account Number:  326452434
Enter Available Amount(Initital deposit):
 100000

Account Holder Name: Niharika
Account Number: 326452434
Account Available Amount  100000.0

Enter amount to deposit:  50000

50000.0 has credited in 326452434. Avialable balance is 150000.0

In [37]:
b1.Account_Available_Amount

150000.0

In [38]:
b1.withdrawl()

Enter amount to witdhdrawl:  1500

1500.0 has been debited from Niharika. Current Balance is 148500.0

In [39]:
b1.Account_Available_Amount

148500.0

In [40]:
b2 = Bank_Account()

*******Opening a bank account*********

Enter Account Name:  Dhanush
Enter Account Number:  32645275555
Enter Available Amount(Initital deposit):
 15000

In [41]:
b1

In [42]:
b2

In [44]:
b2.deposit()

Enter amount to deposit:  1500

1500.0 has credited in 32645275555. Avialable balance is 16500.0

In [45]:
b2.display_info()

Account Holder Name: Dhanush
Account Number: 32645275555
Account Available Amount  16500.0

In [46]:
b1.display_info()

Account Holder Name: Niharika
Account Number: 326452434
Account Available Amount  148500.0

In [47]:
b3 = Bank_Account()

*******Opening a bank account*********

Enter Account Name:  Ramana
Enter Account Number:  32463278
Enter Available Amount(Initital deposit):
 58000

In [48]:
b3.withdrawl()

Enter amount to witdhdrawl:  1230

1230.0 has been debited from Ramana. Current Balance is 56770.0

In [49]:
b3.display_info()

Account Holder Name: Ramana
Account Number: 32463278
Account Available Amount  56770.0

In [50]:
b2.deposit()

Enter amount to deposit:  190000

190000.0 has credited in 32645275555. Avialable balance is 206500.0

In [51]:
b2.display_info()

Account Holder Name: Dhanush
Account Number: 32645275555
Account Available Amount  206500.0